extends layout

block content
  h1 New Coffee Shop
  form(id='new-coffeeShop-form', action='/newCoffeeShop', method='post')
    p Name:
    input(type='text', name='name', placeholder='name')
    br
    br
    p Address:
    input(type='text', name='address', placeholder='address')
    br
    br
    p Location:
    input(type='text', name='lon', placeholder='Longitude')
    input(type='text', name='lat', placeholder='Latitude')
    br
    br
    input(type='submit', value='Create Coffee Shop')
  br
  a(href='/') Back
