html
  body
    h1(style="text-align: center") Coffee Shop Map
    br
    #map(style="height: 80%")

  script(src="/js/map.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnGCXtMKc6Q26Z0Ut9bKBZyYSXTqsZnMA&callback=initMap", async, defer)
