extends layout.pug

block content
  h1= message
  br
  ul(class='')
    each coffeeShop in coffeeShops
      li= coffeeShop.name
    else
      li= "No coffee shops found.."
  br
  button(class='btn-info') Login
  br
  br
  button(class='btn-danger') Logout
