doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/app.css')
    block title
      // Default title if title variable is null
      title Coffee Crowds
  body
    div(class="container")
      block content
