extends layout.pug

block title
  title #{title}

block content
  form(id='login-form', style='border: 1px solid black; padding: 20px;')
    input(type='email', name='email',)
    br
    input(type='password',name='password')
    br
    button(type='submit') login
    br

    div(id='login-errors', style='display: none;')
      h3 errors
      p(id='items')
