#login-form {
  background-color: orange;
  border: 1px solid black;
  padding: 20px;
}

#login-errors {
  display: none;
}

#login-errors h3 {
  color: red;
}

.user-picture {
  border: 1px solid orange;
  padding: 10px;
}
